<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="4.0.4" targetFramework="net45" />
  <package id="FluentValidation" version="5.6.2.0" targetFramework="net45" />
  <package id="Iesi.Collections" version="4.0.0.4000" targetFramework="net45" />
  <package id="libphonenumber-csharp" version="7.0.9" targetFramework="net45" />
  <package id="NHibernate" version="4.0.4.4000" targetFramework="net45" />
  <package id="NLog" version="4.1.0" targetFramework="net45" />
  <package id="NLog.Config" version="4.1.0" targetFramework="net45" />
  <package id="NLog.Schema" version="4.0.1" targetFramework="net45" />
  <package id="SimpleInjector" version="3.0.5" targetFramework="net45" />
  <package id="SimpleInjector.Integration.Wcf" version="3.0.5" targetFramework="net45" />
  <package id="SimpleInjector.Packaging" version="3.0.5" targetFramework="net45" />
  <package id="yesmarket.DataAccess" version="1.0.1" targetFramework="net45" />
  <package id="yesmarket.DataAccess.NHibernate" version="1.0.0" targetFramework="net45" />
  <package id="yesmarket.DateTimes" version="1.0.0" targetFramework="net45" />
  <package id="yesmarket.Initialisation" version="1.0.0" targetFramework="net45" />
  <package id="yesmarket.Mapping" version="1.0.0" targetFramework="net45" />
  <package id="yesmarket.SimpleInjectorExtensions" version="1.0.0" targetFramework="net45" />
  <package id="yesmarket.Wcf" version="1.0.3" targetFramework="net45" />
</packages>