<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NLog" version="4.1.0" targetFramework="net45" />
  <package id="yesmarket.DataAccess" version="1.0.1" targetFramework="net45" />
  <package id="yesmarket.DateTimes" version="1.0.0" targetFramework="net45" />
  <package id="yesmarket.Initialisation" version="1.0.0" targetFramework="net45" />
  <package id="yesmarket.Mapping" version="1.0.0" targetFramework="net45" />
</packages>